<ion-header [translucent]="true"> </ion-header>
<ion-spinner *ngIf="showLoader" class="page-loader" name="bubbles"></ion-spinner>

<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Create an account</h1>
      <p>Start your shopping</p>
    </div>
    <form class="login-form ion-padding" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">NAME</ion-label>
          <ion-input label-placement="floating" fill="outline" type="text" errorText="Enter valid name"
            formControlName="name" [class.invalid]="signUpForm.get('name')?.invalid && 
            (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input label-placement="floating" fill="outline" type="email" formControlName="email"
            errorText="Enter valid email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input label-placement="floating" fill="outline" type="password" formControlName="password"
            errorText="Enter valid password"></ion-input>
        </ion-item>
      </div>
      <div class="action-button ion-padding">
        <ion-button size="large" class="login-button" type="submit" [disabled]="signUpForm.invalid">Sign Up</ion-button>
        <ion-button size="large" class="signup-button" fill="outline" routerLink="/login">Login</ion-button>
      </div>
    </form>
  </div>
</ion-content>